.form-input-container {
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: column;
    row-gap: 2px;

    >label {
        padding-inline-start: 4px;
        font-size: 14px;
        font-weight: 500;
    }

    >input {
        width: 100%;

        border: 1px solid black;
        border-radius: 8px;

        font-size: 16px;
    }
    >input::placeholder {
        font-size: 16px;
    }
    >input:focus {
        border: var(--accent) solid 3px !important;
    }

    .error-message {
        padding-inline-start: 4px;
        font-size: 14px;
        color: #8b0000;
    }
}